@model PROJECT_CLIENT.DTO.RegisterDTO

@{
    ViewData["Title"] = "Đăng ký";
}

<h2>Đăng ký tài khoản</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<form asp-action="Index" method="post">
    <div class="form-group">
        <label>Họ và tên</label>
        <input asp-for="AccountName" class="form-control" />
        <span asp-validation-for="AccountName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input asp-for="AccountEmail" class="form-control" />
        <span asp-validation-for="AccountEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Mật khẩu</label>
        <input asp-for="AccountPassword" type="password" class="form-control" />
        <span asp-validation-for="AccountPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Đăng ký</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
